<div class="padding">
  <h5 class="text-center">News</h5>
  <br />
  <div class="card news-design" style="width: 25rem;">
    <div class="card-header bold">
      <b>Fifa News</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <a href="#" class="card-link"><span class="view-more">View More</span></a>
  </div>
</div>

<div class="l-article-box">
  <div class="container ">
    <div class="l-article clearFix">
      <div class="article-content" style="margin-top:-6px;">
        <div style="text-align:justify;">
          <h2
            style="display:inline;font-size:inherit;font-weight:bold;line-hight:40px;"
          >
            FUT Coins Safely for Sale at Best FUT Coins Supplier
          </h2>
        </div>
        <span>
          <div style="text-align:justify;">
            Specializing in providing
            <strong style="display:inline;font-size:inherit;"
              >cheap FUT Coins</strong
            >
            and
            <strong style="display:inline;font-size:inherit;"
              >safe FUT Coins</strong
            >
            including the UK FUT Coins and FUT Coins United Kingdom to the gamer
            for over 6 years, FIFACOIN.com is one of the top FUT Coins sellers
            and FUT Coin websites UK in the world and is highly appreciated by
            customers because of featuring the following highlights:
          </div>
        </span>
        <br />
        <h3 style="display:inline;font-size:inherit;">
          <div style="text-align:justify;">
            <strong style="font-size:inherit;"
              >FUT Coins Characterized by Various Consoles Support and Cheap
              Price and Safe Transfer and Fast Delivery</strong
            ><span style="font-size:inherit;font-weight:normal;"> </span>
          </div>
        </h3>
        <br />
        <h4 style="display:inline;font-size:inherit;line-hight:40px;">
          <div style="text-align:justify;">
            <strong style="font-size:inherit;">
              FUT Coins of Various Consoles Available</strong
            ><span style="font-size:inherit;font-weight:normal;"> </span>
          </div>
        </h4>
        <div style="text-align:justify;">
          A variety of Ultimate Team Coins including United Kingdom FUT Coins of
          different consoles are optional at FIFACOIN.com.
          <a
            href="https://www.fifacoin.com/fifa-20-coins-ps4.html"
            target="_blank"
            >FUT Coins PS4</a
          >,
          <a
            href="https://www.fifacoin.com/fifa-20-coins-xboxone.html"
            target="_blank"
            >FUT Coins Xbox One</a
          >,
          <a
            href="https://www.fifacoin.com/fifa-20-coins-pc.html"
            target="_blank"
            >FUT Coins PC</a
          >,
          <a
            href="https://www.fifacoin.com/fifa-20-coins-switch.html"
            target="_blank"
            >FUT Coins Switch</a
          >,
          <a
            href="https://www.fifacoin.com/category-fifamobilecoins.html"
            target="_blank"
            >FUT Mobile Coins</a
          >
          etc. are all available. No matter what consoles you play for FUT game,
          you can buy FUT Coins cheaper and buy FUT Coins cheap UK from
          FIFACOIN.com.
        </div>
        <div style="text-align:justify;">
          <br />
        </div>
        <h4 style="display:inline;font-size:inherit;">
          <div style="text-align:justify;">
            <strong style="font-size:inherit;"> FUT Coins at Lower Price</strong
            ><span style="font-size:inherit;font-weight:normal;"> </span>
          </div>
        </h4>
        <div style="text-align:justify;">
          Cheap FUT Coins and FUT Coins UK cheapest are for sale at FIFACOIN.com
          to help customers to save more money on buying
          <strong style="display:inline;font-size:inherit;">FUT Coins</strong>
          and Ultimate Teamcoins United Kingdom so as have better experience on
          playing FUT game. When you buy FUT Coins PS4 100k from FIFACOIN.com,
          it just costs $9.89, that is, 8.21GBP for 100K FUT Coins PS4 UK. And
          if you achieve higher customer level, you can enjoy up to 10% off on
          buying FUT Coins. However, you need spend $12.46 for 100K FUT Coins
          PS4, meaning 9.82 pounds for 100K FUT Coins PS4 UK if you buy from
          other suppliers.
        </div>
        <div style="text-align:justify;">
          <br />
        </div>
        <h4 style="display:inline;font-size:inherit;">
          <div style="text-align:justify;">
            <strong style="font-size:inherit;">
              FUT Coins Transferred Safely</strong
            ><span style="font-size:inherit;font-weight:normal;"> </span>
          </div>
        </h4>
        <div style="text-align:justify;">
          FIFACOIN.com transfers Ultimate Team Coins and FUT Coins UK to your
          game accounts in safe transfer system: FUT Player Auction 3.0, FUT
          Comfort Trade 3.0 and FUT Player Auction P2P, which feature 99% safe
          guarantee. Thus, you can get safe FUT Coins with lowest risks of
          getting banned and buy FUT Coins United Kingdom safe without any
          worries at the reliable FUT Coins supplier FIFACOIN.com.
        </div>
        <div style="text-align:justify;">
          <br />
        </div>
        <h4 style="display:inline;font-size:inherit;">
          <div style="text-align:justify;">
            Ultimate Team Coins Delivered Fast
          </div>
        </h4>
        <div style="text-align:justify;">
          FIFACOIN.com always does its best to deliver FUT Coins and United
          Kingdom Coins FUT to your game accounts after you buy FUT Coins and
          FUT Coins UK here. For transferring FUT Coins via Player Auction 3.0,
          you will get the Coins in 0 - 24 Hours, and if you choose to transfer
          the Coins via Comfort Trade 3.0, it will take 30 Mins/100K; and 0 - 24
          Hours will take if transferring via Player Auction P2P.
        </div>
        <div style="text-align:justify;">
          <br />
        </div>
        <h3
          style="display:inline;font-size:inherit;line-hight:40px;font-weight:bold;"
        >
          <div style="text-align:justify;">
            Free FUT Coins to Giveaway for Customers by Launching Various
            Promotion Activities
          </div>
        </h3>
        <div style="text-align:justify;">
          To thank the customers sincerely, FIFACOIN.com makes all kinds of FUT
          Coins buy promotion activities from time to time, up to 15% FUT Coins
          bonus activity, 30K free coins for orders by sharing the referral
          link, and 5K bonus coins for ordering 100K FUT Coins on Members’ Day
          (17th of every month), etc. So that you can enjoy big savings and
          great bonus while buying cheap FUT Coins United Kingdom to get
          cheapest and reliable FUT Coins UK.
        </div>
        <br />
        <p style="text-align:justify;">
          Come to buy FUT Coins for PS4, XBOX ONE, PC, Switch or FUT Mobile.
          Fully enjoy your game!
        </p>
        <br />
        <div class="article-run">
          <div class="article-up">
            <i class="icon iconfont"></i>
          </div>
          <div class="article-down">
            <i class="icon iconfont"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
