<section id="wrapper" class="login-register login-sidebar">
  <div class="login-box card">
    <div class="card-body">
      <form
        [formGroup]="signupForm"
        (ngSubmit)="onRegister()"
        class="form-horizontal form-material"
        id="loginform"
      >
        <a href="javascript:void(0)" class="text-center db logo-container"> </a>
        <h3 class="box-title m-t-40 m-b-0 text-center">Register Now</h3>

        <div class="form-group m-t-20">
          <div class="col-xs-8 col-md-8 align">
              <input
                class="form-control"
                type="text"
                formControlName="name"
                placeholder="Name"
              />
          </div>
        </div>

        <div class="form-group ">
          <div class="col-xs-8 col-md-8 align">
              <input
                class="form-control"
                type="text"
                formControlName="email"
                placeholder="Email"
              />
          </div>
        </div>

        <div class="form-group ">
          <div class="col-xs-8 col-md-8 align">
              <input
                class="form-control"
                type="password"
                formControlName="password"
                placeholder="Password"
              />
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-8 col-md-8 align">
            <button
              class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
              [disabled]="signupForm.invalid || isLoading"
            >
Sign Up
            </button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>
              Already have an account?
              <a class="text-info m-l-5" [routerLink]="['/login']">
                <b>Sign In</b>
              </a>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
