<div class="padding">
  <h5 class="text-center">Coins</h5>
  <br />

  <div class="row coin-design">
    <div class="col-sm-4 text-center">
      <div class="card" style="width: 18rem;">
        <img
          src="assets/images/ps4-icon.jpg"
          class="card-img-top"
          alt="..."
          height="150px"
          width="40px"
        />
        <div class="card-body">
          <h5 class="card-title">20 Coins</h5>

          <h5 class="card-title">PS4</h5>
          <p class="card-text" style="font-size: 10px;">Cheap coins</p>
          <button type="button" class="btn btn-primary button" [routerLink]="['/fifa-coins']">
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card" style="width: 18rem;">
        <img
          src="assets/images/xboxIcon.png"
          class="card-img-top"
          height="150px"
          width="40px"
        />
        <div class="card-body">
          <h5 class="card-title">20 Coins</h5>
          <h5 class="card-title">XBOX</h5>
          <p class="card-text" style="font-size: 10px;">Cheap coins</p>
          <button type="button" class="btn btn-primary button" [routerLink]="['/fifa-coins']">
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card" style="width: 18rem;">
        <img
          src="assets/images/pc-icon.jpg"
          class="card-img-top"
          alt="..."
          height="150px"
          width="40px"
        />
        <div class="card-body">
          <h5 class="card-title">20 Coins</h5>
          <h5 class="card-title">PC</h5>
          <p class="card-text" style="font-size: 10px;">Cheap coins</p>
          <button type="button" class="btn btn-primary button" [routerLink]="['/fifa-coins']">
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <!--  <div class="col-sm-3 text-center">
      <div class="card" style="width: 18rem;">
        <img
          src="assets/images/Switch.png"
          class="card-img-top"
          alt="..."
          height="150px"
          width="40px"
        />
        <div class="card-body">
          <h5 class="card-title">20 Coins</h5>
          <h5 class="card-title">Switch</h5>
          <p class="card-text" style="font-size: 10px;">Cheap coins</p>
          <button type="button" class="btn btn-primary button">
            Buy Now
          </button>
        </div>
      </div>
    </div> -->
  </div>
</div>
